{% extends 'tasks/common/template.html.twig' %}
{% block title %}掲示板{% endblock %}
{% block content %}

<div id="contents">
  <div class="inner">
    <div class="main">
      <article class="list">
    <table  class="ta1">
     {% for key , value in data %}
        <ul>
         <li　style="text-align:left;"> 
         {% if value.sex == 1 %}
           <img src="{{constant('php\\Bootstrap::APP_URL')}}public/images/male.png" class='icon-user'>
           {% else %}
           <img src="{{constant('php\\Bootstrap::APP_URL')}}public/images/female.png" class='icon-user'>
           {% endif %}
           </li>
           <li>
         <p>{{value.user_id}}  </p>
         <h3>{{value.contents|nl2br }}</h3>
    </table>
      {% endfor %}

    <form method="post" action="">
      <table  class"ta1">
        <tr>
         <th>トークルーム</th>
        </tr>
        <tr>
         <th>本文</th>
        </tr>
        <tr>
         <td><textarea name="contents" class="wl" rows="10" cols="40" maxlength="140"></textarea></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" class="btn" name="send" value="書き込む" /></td>
        </tr>
      </table>
    </form>
    {% if dataArr.result | length > 0 %}<p>{{dataArr.result}}</p>{% endif %}
    {% if err_msg | length > 0 %}<p style="color:#f00;">{{err_msg}}</p>{% endif %}
    <p><a href="list.php">一覧へ戻る</a></p>
      </article>
    </div>
  </div>
</div>
{% endblock %}