<header>
  <div class="container">
    <div class="header-left">
      <img class="logo" src="{{constant('php\\Bootstrap::APP_URL')}}images/logo.png">
    </div>

    <div class="header-right">
      <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}index.php">HOME</a>
      <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}contact-form.php">お問い合わせ</a>
      <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}regist.php">エントリーフォーム</a>
      <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}login.php" class="login">会員専用ページ</a>
    </div>
  </div>
</header>
