{% extends 'common/template.html.twig' %}
{% block title %}お問い合わせ{% endblock %}
{% block content %}

      <div class="contact-form">
       <form action="mail.php" method="post">
        <h3 class="section-title" id="contact">お問い合わせ</h3>
        <p>メールアドレス <span class="red">*</span></p>

        <input type="text" name="email" value="{{dataArr.email}}">
      {% if errArr.email | length > 0 %}<br><span class="red">{{errArr.email}}</span>{% endif %}

        <p>タイトル <span class="red">*</span></p>
        <input type="text"  name="title" value="{{dataArr.title}}">
      {% if errArr.title | length > 0 %}<br><span class="red">{{errArr.title}}</span>{% endif %}

        <p>お問い合わせ内容 <span class="red">*</span></p>

        <textarea name="contents" rows="4" cols="40" value="{{dataArr.contact}}" ></textarea><br>
      {% if errArr.contents | length > 0 %}<br><span class="red">{{errArr.contents}}</span><br>{% endif %}

        <input class="contact-submit" type="submit"  name="contact" value="送信">
      {% if dataArr.result | length > 0 %}<br><span class="red">{{dataArr.result}}</span>{% endif %}

       </form>
      </div>

    </div>
{% endblock %}