<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{constant('php\\Bootstrap::APP_URL')}}js/common.js"></script>
  <link href="{{constant('php\\Bootstrap::APP_URL')}}css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="{{constant('php\\Bootstrap::APP_URL')}}css/responsive.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <title>エントリーリスト</title>
</head>

<body>

{% include 'header.html.twig' %}

<div class="contact-form">
  <h2 class="section-title">現在の申し込み状況</h2>
   {% if dataArr.result | length > 0 %}
   <p>{{dataArr.result}}</p>
 {% endif %}
    <table border="1">
      <tr>
        <th>id</th>
        <th>氏名</th>
        <th>性別</th>
        <th>メール</th>
        <th>案件</th>
        <th>単価</th>
        <th>職種</th>
        <th>エントリー状況</th>
        <th>選考結果</th>

      </tr>
      {% for value in dataArr %}
      <tr>
        <td>{{value.entry_id}}</td>
        <td>
        <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}member_detail.php?mem_id={{value.mem_id}}">
          {{value.family_name}} {{value.first_name}}</a>

        </td>
        <td>{% if value.sex == '1' %}男性 {% elseif value.sex == '2' %}女性{% endif %}</td>
        <td>{{value.email}}</td>
        <td>
          <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
            {{value.item_name}}</a>
        </td>
        <td>{{value.price}}</td>
        <td>
        {% for index, label in ctg_id %}
         {% if value.ctg_id == index %}
         {{label}}
       {% endif %}
        {% endfor %}
      </td>
        {% if value.entry_flg == 0 %}
        <td><span>応募中</span></td>
       {% elseif value.entry_flg == 1 %}
       <td><span class="font:green">採用</span></td>
       {% else %}
        <td><span class="red">不採用</span></td>
      {% endif %}

       <td>
        <a onclick="return confirm('本当に、いいんですね？')" class="btn signup"　 href="{{constant('php\\Bootstrap::ENTRY_URL')}}entry_list.php?recruit=1&entry_id={{value.entry_id}}">採用</a>
        <a onclick="return confirm('本当に、いいんですね？')" class="btn fire"href="{{constant('php\\Bootstrap::ENTRY_URL')}}entry_list.php?recruit=2&entry_id={{value.entry_id}}">不採用</a>
       </td>
      </tr>
    {% endfor %}
    </table>


      <p><a href="{{constant('php\\Bootstrap::ENTRY_URL')}}list.php">一覧へ戻る</a></p>
  </div>
  {% include 'footer.html.twig' %}
  </body>
</html>
