<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{constant('php\\Bootstrap::APP_URL')}}js/shopping.js"></script>
  <link href="{{constant('php\\Bootstrap::APP_URL')}}css/stylesheet.css" rel="stylesheet">
  <link rel="stylesheet" href="{{constant('php\\Bootstrap::APP_URL')}}css/responsive.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <title>エントリーリスト</title>
</head>

<body>

{% include 'header.html.twig' %}

<div class="contact-form">
  <h2 class="section-title">現在の申し込み状況</h2>
    <table border="1">
      <tr>
        <th>案件</th>
        <th>単価</th>
        <th>職種</th>
        <th>エントリー状況</th>
        <th>削除</th>
      </tr>
      {% for value in dataArr %}
      <tr>
        <td>
          <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}detail.php?item_id={{value.item_id}}">
            {{value.item_name}}</a>
        </td>
        <td>{{value.price}}</td>
        <td>
        {% for index, label in ctg_id %}
         {% if value.ctg_id == index %}
         {{label}}
       {% endif %}
        {% endfor %}
      </td>

        {% if value.entry_flg == 0 %}
        <td><span class="option3">応募中</span></td>
       {% elseif value.entry_flg == 1 %}
       <td><span class="btn fire">不採用</span></td>
       {% else %}
        <td><span class="btn signup">採用</span></td>
      {% endif %}
      <td><a onclick="return confirm('本当に、いいんですね？')"href="{{constant('php\\Bootstrap::ENTRY_URL')}}entry_list.php?recruit=4&entry_id={{value.entry_id}}">削除
      </a></td>
      </tr>
      {% endfor %}

    </table>
      <p><a href="{{constant('php\\Bootstrap::ENTRY_URL')}}list.php">一覧へ戻る</a></p>
  </div>
  {% include 'footer.html.twig' %}
  </body>
</html>
