<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{constant('php\\Bootstrap::APP_URL')}}js/shopping.js"></script>
    <link href="{{constant('php\\Bootstrap::APP_URL')}}css/stylesheet.css" rel="stylesheet">
    <link rel="stylesheet" href="{{constant('php\\Bootstrap::APP_URL')}}css/responsive.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <title>勤怠報告</title>
  </head>

  <body>

  {% include 'header.html.twig' %}
 <div class="contact-form">
  <input type="hidden" name="entry_url"
            id="entry_url" value="{{constant('php\\Bootstrap::ENTRY_URL')}}">
    <form method="post" action="mail.php">
     <h2 class="section-title">勤務報告</h2>
     {% if dataArr.result | length > 0 %}<br>{{dataArr.result}}{% endif %}
      <table>
      <tr>
        <th>メールアドレス<span class="red">*</span></th>
        <td>
        <input type="text" name="email" value="{{dataArr.email}}" size="40" placeholder="xxxxxx@mail.com">
        {% if errArr.email | length > 0 %}<br><span class="red">{{errArr.email}}</span>{% endif %}
        </td>
      </tr>

      <tr>
        <th>お名前(姓/名)<span class="red">*</span></th>
         <td>
         <input type="text" name="family_name" value="{{dataArr.family_name}}" placeholder="氏">
         <input type="text" name="first_name" value="{{dataArr.first_name}}" placeholder="名">
       {% if errArr.family_name | length > 0 %}<br><span class="red">{{ errArr.family_name }}</span>{% endif %}
       {% if errArr.first_name | length > 0 %}<br><span class="red">{{ errArr.first_name }}</span>{% endif %}
         </td>
      </tr>

      <tr>
        <th>派遣先<span class="red">*</span></th>
        <td>
          <input type="text" name="address"
                 value="{{dataArr.address}}" id="address" size="40">
        {% if errArr.address | length > 0 %}<br><span class="red">{{errArr.address}}</span>{% endif %}
        </td>
       </tr>

       <tr>
         <th>往復交通費</th>
         <td>
           <input type="number" name="spend"
                  value="{{dataArr.spend}}" id="traffic" size="40"> 円
         {% if errArr.spend | length > 0 %}<br><span class="red">{{errArr.spend}}</span>{% endif %}
         </td>
        </tr>

       <tr>
         <th>派遣日<span class="red">*</span></th>
         <td>
           <select name="year" >
           {% for index, label in yearArr %}
         <option value="{{index}}" {% if dataArr.year == index %} selected {% endif %}>{{ label }}</option>
           {% endfor %}
           </select>

           <select name='month'>
            {% for index, label in monthArr %}
            <option value="{{index}}" {% if dataArr.month == index %} selected {% endif %}>{{ label }}</option>
            {% endfor %}
          </select>

          <select name='day'>
          {% for index, label in dayArr %}
          <option value="{{index}}" {% if dataArr.day == index %} selected {% endif %}>{{ label }}</option>
          {% endfor %}
          </select>
        {% if errArr.year | length > 0 %}<br><span class="red">{{errArr.year}}</span>{% endif %}
        {% if errArr.month | length > 0 %}<br><span class="red">{{errArr.month}}</span>{% endif %}
        {% if errArr.day | length > 0 %}<br><span class="red">{{errArr.day}}</span>{% endif %}
          </td>
       </tr>

       <tr>
         <th>就業時間<span class="red">*</span></th>
         <td>
           <input type="number" name="start" value="{{dataArr.start}}" size="4" maxlength="4"placeholder="0900"> から
           <input type="number" name="end" value="{{dataArr.end}}" size="4" maxlength="4" placeholder="1800">
         {% if errArr.zip1 | length > 0 %}<br><span class="red">{{errArr.start}}</span>{% endif %}
         {% if errArr.zip2 | length > 0 %}<br><span class="red">{{errArr.end}}</span>{% endif %}
       </tr>

       <tr>
         <th>その他連絡事項</th>
         <td>
           <textarea name="contents" rows="4" cols="40" placeholder="備考欄 遅刻、残業など">{{dataArr.contents}}</textarea>
         </td>
       </tr>

      </table>

        <div>
          <input type="submit" name="kintai" value="勤怠送信">
         <input type="button" name="back" value="一覧へ戻る" onclick="history.back(); return false">


       {% if errArr.result | length > 0 %}<br>{{errArr.result}}{% endif %}
        </div>
      </form>
   </div>

   {% include 'footer.html.twig' %}

 </body>
</html>
