{% extends 'common/template.html.twig' %}
{% block title %}daihana{% endblock %}
{% block content %}
    <div class="top-wrapper">
      <div class="container">
        <h1>Keep your face to the sunshine </h1>
        <h1> and you cannot see the shadow.</h1>
        <p>daihanaは花業界に特化した人材サービス会社です。</p>
        <p>花業界経験者も未経験者も、お花のお仕事に興味があればまずはお気軽にご相談ください！</p>
        <div class="btn-wrapper">
          <a href="{{constant('php\\Bootstrap::APP_URL')}}regist.php" class="btn signup">新規登録はこちら</a>
          <p>or</p>
          <a class="btn blue" href="{{constant('php\\Bootstrap::APP_URL')}}login.php">すでに会員の方はこちら</a>
      </div>
    </div>
    </div>
      <div class="lesson-wrapper">
        <div class="container">
          <div class="heading">
            <h2>Change direction, and turn a headwind into a tailwind.</h2>
          </div>
          <div class="lessons">
            <div class="lesson">
              <div class="lesson-icon">
                <img src="{{constant('php\\Bootstrap::APP_URL')}}public/images/green.png">
                <p>daihanaとは</p>
              </div>
              <p class="text-contents">daihanaはお花業界に特化した人材サービスです。
               大手生花店はもちろん、町の小さなお花屋さんからウエディング装花を手掛けるホテルや式場とのお取引をさせていただいています。
               また花卉市場や場内仲卸様とも繋がりがあり、幅広いお仕事のご紹介でき、花業界の動向も把握しているので安心しておまかせいただけます。
               </p>
            </div>
            <div class="lesson">
              <div class="lesson-icon">
                <img src="{{constant('php\\Bootstrap::APP_URL')}}public/images/yellow.png">
                <p>豊富なレッスン</p>
              </div>
              <p class="text-contents">フラワー教室では学ぶことのできない実践型の研修制度もありますので、未経験の方にも安心です。
              お花業界に特化した人材サービスからどんな派遣会社よりも、daihanaはお花のお仕事を真剣に考えているのです！</p>
            </div>
            <div class="lesson">
              <div class="lesson-icon">
                <img src="{{constant('php\\Bootstrap::APP_URL')}}public/images/red.png">
                <p>パートナー割引</p>
              </div>
              <p class="text-contents">実際に花のつぼみが開き、散るまでの過程を観察し、自ら学んでいただきたいという想いから、
              従業員は割引価格で花材を購入することができます。(割引率は、商品により異なります)</p>
            </div>
            <div class="lesson">
              <div class="lesson-icon">
                <a href="https://www.instagram.com/florist_murashi/">
                <img src="{{constant('php\\Bootstrap::APP_URL')}}public/images/blue.png"></a>
                <p>Gallery</p>
              </div>
              <p class="text-contents">今までの作成物です。</p>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>

      <div class="message-wrapper">
        <div class="container">
          <div class="heading">
            <h2>さぁ、あなたも新しいみませんか?</h2>
            <h3> Be creative!</h3>
          </div>
          <a href="{{constant('php\\Bootstrap::ENTRY_URL')}}regist.php">
          <span class="btn message">エントリーする</span></a>
        </div>
      </div>
{% endblock %}
